<div class="container">
    <div class="col-md-12 jumbotron">
        <div class"text-center">
            <h1>Scrapping the Internet</h1>
        </div>

    </div>
    <div class="col-md-12">
        {{#if article}}
        {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{this.title}}</h4>
            </div>
            <div class="panel-body">
                <P>{{this.summary}}</P>
                <a href={{this.ink}} target="_blank">{{this.link}}</a>
                <br>

                <button type="button" class="btn btn-default save" data-id={{this.id}}>Save Article</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>No articles found. Try again</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>